<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869429006623-q7c3rqr9583hpl5g6da5dt9p34m9lgje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869429006623-q7c3rqr9583hpl5g6da5dt9p34m9lgje</string>
	<key>API_KEY</key>
	<string>AIzaSyDt81GDCbAKl9pAPg9JIBeu0qyBh71ML_I</string>
	<key>GCM_SENDER_ID</key>
	<string>869429006623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdikcinar.SwiftFirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>swiftfirebaseexample-8a1c8</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfirebaseexample-8a1c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869429006623:ios:476784bf75881c5763a02a</string>
	<key>DATABASE_URL</key>
	<string>https://swiftfirebaseexample-8a1c8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>